{#include base}
    {#title}Items{/}
    {#for item in items}
        {#include section}
            {#title}{item.title} (Created {item.creationDate}){/}
            {#content}
                {item.content}
                <div class="content-actions">
                    <a href="/view/{item.id}">Permalink</a>
                    <span> - </span>
                    <a href="/edit/{item.id}">Edit</a>
                    <span> - </span>
                    <a href="/delete/{item.id}">Delete</a>
                </div>
            {/}
        {/}
    {/}
{/}
